<div class="wrapper__bonus-screen bonus-screen">
	<div class="bonus-screen__body">
		<button type="button" class="bonus-screen__button"></button>
		<div class="bonus-screen__title _fz-36 _fw-900">BONUS GAME</div>
		<div class="bonus-screen__boxes">
			<div data-bonus="0" class="bonus-screen__box">
				<img src="@img/bonus/chest-empty.png" alt="Image">
			</div>
			<div data-bonus="1" class="bonus-screen__box">
				<img src="@img/bonus/chest-money.png" alt="Image">
			</div>
			<div data-bonus="2" class="bonus-screen__box">
				<img src="@img/bonus/chest-key.png" alt="Image">
			</div>
		</div>
	</div>
</div>