<div data-screen="slot-@@name" class="wrapper__slot slot">
	<div class="slot__body">
		<div class="slot__game">
			<div class="slot__box">
				<div class="screen-news__header header">
					<div class="header__body">
						<button type="button" data-button="slot-home" class="header__button-home button-home"></button>
						<div class="header__title _fz-20 _fw-600">Slot</div>
					</div>
				</div>
				<div class="slot__cont">
					<div data-slot-box id="slot@@name" class="slot@@name">
						<div data-reels id="reels@@name" class="reels@@name">
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
							<div data-reel class="reel@@name"></div>
						</div>
					</div>
				</div>
			</div>
			<div class="slot__footer footer">
				<div class="footer__body">
					<button type="button" data-button="spin-@@name"
						class="slot__button-spin _fz-20 _fw-900 _upper"><span>SPIN</span></button>
					<div class="header__score-box score-box">
						<div class="score-box__body _bg-button _fz-18 _upper">
							<div class="score-box__title">balance</div>
							<div class="score-box__count">
								<div class="score-box__score score">0</div>
								<div class="score-box__icon icon-game"></div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>