.button {
	position: relative;
	z-index: 1;

	display: flex;
	justify-content: center;
	align-items: center;

	width: 226px;
	height: 64px;

	border-radius: 50px;
	border: 1px solid #fff;
	background-image: linear-gradient(99deg, #ffb800 54.17%, #ff8a00 100%);

	user-select: none;

	transition: all 0.3s ease 0s;

	span {
		position: relative;
		z-index: 2;
		color: #fff;
	}
	&:active {
		transform: translateY(3px);
	}
	// &._hold {
	// 	opacity: 0.5;
	// 	pointer-events: none;
	// }
}

.button-home {
	position: relative;

	width: 40px;
	height: 40px;

	border-radius: 5px;
	border: 1px solid #fff;
	background: url("@img/icons/arrow.svg") center / 16px 16px no-repeat rgba(22, 43, 40, 0.72);

	transition: all 0.3s ease 0s;

	&:active {
		transform: translateY(2px);
	}
}

[type="button"] {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

//========================================================================================================================================================
.preloader {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;

	width: 100%;
	min-height: 100vh;

	background-image: url("@img/other/bg.png");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	overflow: hidden;

	transition: all 0.3s ease 0s;

	&__block-acces {
	}

	&__acces {
	}

	&__button-box {
		position: absolute;
		z-index: 4;
		bottom: 50px;
		left: 50%;
		transform: translateX(-50%);
	}

	// .preloader__button

	&__button {
	}
}

.acces-preloader {
	position: relative;
	z-index: 4;

	display: flex;
	flex-direction: column;
	max-height: 100vh;
	max-width: 100vw;
	padding: 35px 15px 150px;

	color: #fff;

	overflow: auto;

	&._hide {
		display: none;
	}

	&__body {
		display: flex;
		flex-direction: column;
	}

	&__title {
		margin-bottom: 25px;
		text-align: center;
		@media (min-width: 700px) and (min-height: 700px) {
			font-size: 20px;
		}
	}

	&__text-box {
		display: flex;
		flex-direction: column;
	}

	// .acces-preloader__text

	&__text {
		padding-bottom: 12px;
	}

	&__link {
		color: #ebff00;
	}
}

.text-pre {
	font-weight: 600;
	font-size: 20px;
	line-height: 1.25;
	text-align: center;
	@media (min-width: 700px) and (min-height: 700px) {
		font-size: 20px;
	}

	&__title {
		text-transform: uppercase;
	}
}

.score {
	&._no-money {
		animation: no-money 0.7s ease 2;
	}
	&._delete-money {
		animation: delete-money 0.7s ease;
	}
	&._anim-add-money {
		animation: add-money 0.5s ease 3;
	}
}

.icon-game {
	&._anim-icon-jump {
		animation: jump_icon 5s ease;
	}
	&._anim-icon-scale {
		animation: scale_icon 0.5s ease 2;
	}
	&._anim-icon-rotate {
		animation: rotate_icon 1.5s ease-out 1;
	}
	&._anim-icon-rotate-2 {
		animation: rotate_icon-2 1.5s ease 1;
	}
}
//========================================================================================================================================================
