* {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently
											supported by Chrome, Edge, Opera and Firefox */
}

.main {
	// .main__body

	&__body {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;

		min-height: 100vh;

		transition: all 0.7s ease 0.3s;
		._news-screen &,
		._news-1 &,
		._news-2 &,
		._news-3 &,
		._news-4 &,
		._news-5 &,
		._news-6 &,
		._slot & {
			opacity: 0;
			visibility: hidden;
			transform: translateX(-20px);
		}
	}

	// .main__buttons

	&__buttons {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		row-gap: 25px;
	}

	// .main__button

	&__button {
		display: grid;
		grid-template-columns: 1fr 60px;
		align-items: center;
		justify-items: center;
		height: 84px;
	}
}

.screen-news {
	position: absolute;
	top: 0;
	left: 0;

	display: flex;

	width: 100%;
	height: 100%;

	opacity: 0;
	visibility: hidden;
	transform: translateX(20px);

	transition: all 0.7s ease 0.3s;
	&[data-screen="news-screen"] {
		._news-screen & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-1"] {
		._news-1 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-2"] {
		._news-2 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-3"] {
		._news-3 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-4"] {
		._news-4 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-5"] {
		._news-5 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}
	&[data-screen="news-6"] {
		._news-6 & {
			opacity: 1;
			visibility: visible;
			transform: translateX(0);
		}
	}

	// .screen-news__body

	&__body {
		position: relative;

		display: flex;
		flex-direction: column;
		row-gap: 25px;

		width: 100%;

		padding: 17px 13px;

		overflow-y: auto;
	}

	// .screen-news__header

	&__header {
	}

	// .screen-news__buttons

	&__buttons {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: center;
		gap: 12px;
	}

	// .screen-news__button

	&__button {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;

		row-gap: 15px;
		width: 100%;
		height: 120px;

		border-radius: 10px;
		border: 1px solid #fff;
		background-color: rgba(43, 36, 22, 0.4);

		padding-bottom: 10px;
	}

	// .screen-news__title

	&__title {
		color: #fff;
	}

	// .screen-news__icons

	&__icons {
		display: flex;
		column-gap: 4px;
	}

	// .screen-news__news

	&__news {
		display: flex;
		flex-direction: column;
		row-gap: 15px;
	}

	// .screen-news__image

	&__image {
		padding-bottom: calc(204 / 334) * 100%;
	}

	// .screen-news__text-box

	&__text-box {
		background-color: rgba(59, 57, 57, 0.7);
		padding: 10px;
		p {
			color: #fff;
			padding-bottom: 10px;
		}
	}
}

//========================================================================================================================================================

//========================================================================================================================================================
._bg-item {
	border-radius: 28px;
	border: 4px solid #c0f3e8;
	background-image: linear-gradient(180deg, #3faaf0 0%, #3064ca 100%);
	color: #fff;
}

._bg-button {
	border-radius: 13px;
	border: 3px solid #fff;
	color: #fff;
}

.score-box {
	// .score-box__body

	&__body {
		position: relative;

		display: flex;
		justify-content: space-between;
		align-items: center;

		min-width: 229px;
		height: 50px;

		padding-inline: 20px 25px;

		transition: all 0.3s ease 0s;

		&._hold {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&__title {
	}
	&__count {
		display: flex;
		justify-content: center;
		align-items: center;
		column-gap: 5px;
	}

	// .score-box__score

	&__score,
	&__icon {
		position: relative;
		z-index: 2;
	}
}

.icon-game {
	width: 25px;
	height: 22px;

	background-image: url("@img/icons/coin.png");
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.header {
	// .header__body

	&__body {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;

		border-radius: 5px;
		border: 1px solid #fff;
		background-color: rgba(43, 36, 22, 0.25);

		padding: 9px 5px;
	}

	// .header__button

	&__button {
		&[data-button="privacy"] {
			width: 182px;
			height: 50px;
		}
	}

	// .header__score-box

	&__score-box {
	}

	&__title {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		color: #fff;
	}
}

._pl-25 {
	padding-left: 25px;
}

//====================================================================================================
@keyframes no-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 1, 1);
		transform: scale(1.1);
	}
}
@keyframes delete-money {
	0% {
		color: #fff;
	}
	100% {
		color: rgb(255, 103, 103);
		transform: translateY(3px);
	}
}
@keyframes add-money {
	100% {
		color: rgb(204, 254, 3);
		transform: translateY(-3px);
	}
}
@keyframes jump_icon {
	0%,
	69% {
		transform: translate(0, 0);
	}
	77% {
		transform: translate(0, -10px);
	}
	80% {
		transform: translate(0px, 0px);
	}
	82% {
		transform: translate(0px, -6px);
	}
	85% {
		transform: translate(0px, 0px);
	}
	87% {
		transform: translate(0px, -2px);
	}
	90% {
		transform: translate(0px, 0px);
	}
	100% {
		transform: translate(0px, 0px);
	}
}
@keyframes scale_icon {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(1.2);
	}
}
@keyframes rotate_icon {
	0% {
		transform: rotateY(0deg);
	}
	100% {
		transform: rotateY(360deg);
	}
}
@keyframes rotate_icon-2 {
	0% {
		transform: rotate(0deg);
		right: 0;
	}
	70% {
		transform: rotate(-360deg);
		right: 100px;
	}
	100% {
		transform: rotate(0deg);
		right: 0;
	}
}
